body {
  background: #e5e5e5;
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  padding: 24px;
  background: #fff;
}

#logo-div {
  display: flex;
  width: 50%;
}

#logo {
  font-style: normal;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
  text-decoration: none;
}

#logo-icon {
  width: 16px;
  height: 16px;
}

#nav {
  width: 50%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.section-intro {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 120px;
  padding-bottom: 136px;
  display: flex;
  flex-direction: column;
  background: #fff;
  background-image: url('../image/header-shapes-mobile.svg');
  background-repeat: no-repeat;
  background-size: contain;
  border-bottom-left-radius: 70px;
}

.title {
  margin: 0;
  max-width: 327px;
  min-height: 150px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.content {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.connect {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.social-icons {
  display: flex;
  justify-content: flex-start;
}

.social-icons-ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.social-icons-ul li {
  list-style: none;
}

.social-icons img {
  width: 20px;
  height: 20px;
  margin-right: 17px;
  transition: all 1s;
}

.social-icons img:hover {
  width: 24px;
  height: 24px;
}

.card {
  display: flex;
  flex-direction: column;
  min-height: 400px;
  background: #fff;
  border-radius: 16px;
  border: 1px solid #dfe1e6;
  padding: 16px;
  align-items: center;
  gap: 12px;
  margin-left: 24px;
  margin-right: 24px;
}

.card > div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card img {
  width: 100%;
  height: auto;
}

.skill-item img {
  width: 48px;
  height: 48px;
  margin: 12px;
  float: left;
}

.skill-div > ul > li > img {
  position: absolute;
  right: 40px;
  top: 25px;
}

#nav img {
  float: right;
}

.section-work {
  margin-top: 114px;
  margin-bottom: 114px;
  display: grid;
  row-gap: 88px;
}

.work-title {
  font-size: 32px;
  color: #172b4d;
  display: block;
  width: 100%;
  max-width: 100%;
  min-height: 0;
}

.work-info {
  width: 100%;
  display: block;
}

.work-info ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
}

.nav-ul > li {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  color: #344563;
  display: inline;
  padding: 0 16px;
}

.work-info ul li {
  margin-right: 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.first-li {
  list-style: none;
  color: #344563 !important;
}

.work-description {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.work-tag {
  width: 100%;
  display: block;
}

.work-tag ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
}

.work-tag ul li {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  background: #ebebff;
  padding: 4px 12px;
  margin-right: 8px;
  border-radius: 5px;
}

.work-tag p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  background: #ebebff;
  padding: 4px 12px;
  margin-right: 8px;
  border-radius: 5px;
  float: left;
}

.project-link-div {
  width: 100%;
  display: block;
}

.project-link {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  background: #fff;
  border: 1px solid #6070ff;
  border-radius: 8px;
  text-decoration: none;
  padding: 12px;
  float: left;
  margin-top: 12px;
  margin-bottom: 10px;
  transition: all 3s;
}

.project-link:hover {
  background: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  color: #fff;
  font-size: 20px;
  padding: 12px 18px;
  width: 175px;
}

.project-link:active {
  background: #2230d2;
}

.section-about {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 120px;
  padding-bottom: 236px;
  display: flex;
  flex-direction: column;
  background: #fff;
  border-top-right-radius: 70px;
}

.about-title {
  font-size: 32px;
  color: #172b4d;
  display: block;
  width: 100%;
  max-width: 100%;
  min-height: 0;
}

.skill-div {
  width: 100%;
  display: block;
}

.skill-div ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 20px;
}

.skill-div > ul > li {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  align-items: center;
  color: #000;
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 1px solid #dfe1e6;
  position: relative;
}

.skill-item-div {
  width: 100%;
  display: block;
  display: flex;
  flex-direction: column;
  padding-top: 36px;
}

.skill-item {
  display: flex;
  background: #f7f7f9;
  border-radius: 8px;
  margin-bottom: 12px;
  line-height: 70px;
}

.section-contact {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 120px;
  padding-bottom: 36px;
  background: #6070ff;
  border-top-left-radius: 70px;
  margin-top: -100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-image: url('../image/contact-form-shapes-mobile.png');
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
}

.contact-title {
  font-size: 40px;
  line-height: 52px;
  color: #fff;
  display: block;
  width: 100%;
  max-width: 100%;
  min-height: 0;
}

.contact-content {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #ebebff;
  line-height: 28px;
}

.contact-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.contact-form form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.contact-form form input,
.contact-form form textarea,
.contact-form form button {
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding: 15px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #172b4d;
  margin-bottom: 20px;
}

.contact-form form button {
  color: #6070ff;
  font-weight: 500;
  width: 142px;
}

.nav-ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
}

.nav-ul > li > a {
  text-decoration: none;
  color: #344563;
}

/* Media query css for desktop version */
@media screen and (min-width: 768px) {
  body {
    background: #f4f5f7;
  }

  header {
    padding: 24px 10%;
  }

  .skill-item img {
    margin-left: 0;
  }

  #nav img {
    display: none;
  }

  .nav-ul {
    display: block;
  }

  .card {
    display: flex;
    flex-direction: row;
    min-height: 100px;
    width: 80%;
    margin-left: 10%;
    max-width: 1200px;
  }

  .section-intro {
    padding-left: 15%;
    padding-right: 15%;
    background-image: url('../image/header-bg-desktop.png');
    background-position: center;
  }

  .card:nth-child(even) {
    flex-direction: row-reverse;
  }

  .card > div {
    height: 100%;
  }

  .section-contact > div {
    max-width: 570px;
    margin: 0 auto;
  }

  .card > div:last-child {
    padding-left: 20px;
  }

  .card > div > h3 {
    margin-bottom: 5px;
  }

  .work-info {
    margin-bottom: 25px;
  }

  .work-description {
    margin-bottom: 20px;
  }

  .work-tag {
    margin-bottom: 25px;
  }

  .section-about {
    display: flex;
    flex-direction: row;
    padding-left: 10%;
    padding-right: 10%;
  }

  .section-about > div:first-child {
    width: 60%;
    margin-right: 50px;
  }

  .skill-div > ul {
    margin-top: -10px;
  }

  .skill-item-div {
    display: block;
    overflow: hidden;
  }

  .skill-item-div > li {
    float: left;
    width: 122px;
    height: 120px;
    margin-right: 12px;
    line-height: 15px;
  }

  .skill-item {
    flex-direction: column;
    padding-left: 12px;
  }

  .contact-form {
    padding: 0 10%;
    width: 80%;
  }

  .section-contact {
    background-image: url('../image/contact-form-background-shapes-desktop.png');
    background-size: 95% auto;
    background-position: center;
  }
}
